<a>
<section id="beneficios">
  <h2 class="section-title">Beneficios de nuestro servicio</h2>
  <div class="cards">
    <div class="card fade-in">
      <h3>Seguridad</h3>
      <div class="pdf-text">
  <%= pdfText %>
</div>

    </div>
    <div class="card fade-in fade-delay">
      <h3>Eficiencia</h3>
      <p>Optimización de procesos documentales y reducción de errores.</p>
    </div>



<div class="card fade-in fade-delay">
    <iframe 
  width="385" 
  height="350"
  src="https://www.youtube.com/embed/GKZLEhevKcQ?autoplay=1&mute=1&controls=1&rel=0" 
  title="YouTube video player" 
  frameborder="0" 
  allow="autoplay; encrypted-media; picture-in-picture; web-share" 
  allowfullscreen>
</iframe>


  </div>




  </div>
</div>




</section>
