<section id="planes">
  <h2 class="section-title">Nuestros Planes</h2>

  <!-- Selector global mensual/anual -->
  <div class="selector-precio">
    <button id="btn-mes" class="active">Mensual</button>
    <button id="btn-anio">Anual</button>
  </div>

  <div class="planes-container">
    <!-- Plan Básico -->
    <div class="plan" style="background-image:url('/img/plan1.jpg');" data-plan-mes="$500 / mes" data-plan-anio="$5000 / año">
      <h3>Plan Básico</h3>
      <p class="precio">$500 / mes</p>
      <button class="btn-contratar">Contratar</button>
    </div>

    <!-- Plan Profesional -->
    <div class="plan" style="background-image:url('/img/plan2.jpg');" data-plan-mes="$800 / mes" data-plan-anio="$8000 / año">
      <h3>Plan Profesional</h3>
      <p class="precio">$800 / mes</p>
      <button class="btn-contratar">Contratar</button>
    </div>

    <!-- Plan Premium -->
    <div class="plan" style="background-image:url('/img/plan3.jpg');" data-plan-mes="$1200 / mes" data-plan-anio="$12000 / año">
      <h3>Plan Premium</h3>
      <p class="precio">$1200 / mes</p>
      <button class="btn-contratar">Contratar</button>
    </div>

   
  </div>
</section>
